<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RoadCare3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RoadCare3.Properties.Settings>
            <setting name="IMAGE_PATH" serializeAs="String">
                <value>ImagePath</value>
            </setting>
            <setting name="LOCAL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="ASSETS_COLORS" serializeAs="String">
                <value />
            </setting>
            <setting name="DATABASE_DIU" serializeAs="String">
                <value />
            </setting>
            <setting name="PROVIDER_DIU" serializeAs="String">
                <value />
            </setting>
            <setting name="USERNAME_DIU" serializeAs="String">
                <value />
            </setting>
            <setting name="SERVER_DIU" serializeAs="String">
                <value />
            </setting>
            <setting name="ATTRIBUTE_DEFAULT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PROVIDER_DEFAULT" serializeAs="String">
                <value>MSSQL</value>
            </setting>
            <setting name="TYPE_DEFAULT" serializeAs="String">
                <value>NUMBER</value>
            </setting>
            <setting name="LEVEL1_DEFAULT" serializeAs="String">
                <value />
            </setting>
            <setting name="LEVEL2_DEFAULT" serializeAs="String">
                <value />
            </setting>
            <setting name="LEVEL3_DEFAULT" serializeAs="String">
                <value />
            </setting>
            <setting name="LEVEL4_DEFAULT" serializeAs="String">
                <value />
            </setting>
            <setting name="LEVEL5_DEFAULT" serializeAs="String">
                <value />
            </setting>
            <setting name="DEFAULT_VALUE" serializeAs="String">
                <value />
            </setting>
            <setting name="ACTIVE_IMAGE_KEY" serializeAs="String">
                <value>LIGHTON.ICO</value>
            </setting>
            <setting name="ACTIVE_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>LIGHTON.ICO</value>
            </setting>
            <setting name="NETWORK_IMAGE_KEY" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="NETWORK_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="ATTRIBUTE_IMAGE_KEY" serializeAs="String">
                <value>db.ico</value>
            </setting>
            <setting name="ATTRIBUTE_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>db.ico</value>
            </setting>
            <setting name="SEGMENTATION_IMAGE_KEY" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="SEGMENTATION_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="SEGMENTATION_LOGIC_IMAGE_KEY" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="SEGMENTATION_LOGIC_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="SEGMENTATION_RESULTS_IMAGE_KEY" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="SEGMENTATION_RESULTS_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="ROLLUP_IMAGE_KEY" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="ROLLUP_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="CONSTRUCTION_HISTORY_IMAGE_KEY" serializeAs="String">
                <value>construction.ico</value>
            </setting>
            <setting name="CONSTRUCTION_HISTORY_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>construction.ico</value>
            </setting>
            <setting name="ASSET_IMAGE_KEY" serializeAs="String">
                <value>bluedb.ico</value>
            </setting>
            <setting name="ASSET_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>bluedb.ico</value>
            </setting>
            <setting name="CONSTRUCTION_HISTORY_VIEW_IMAGE_KEY" serializeAs="String">
                <value>construction.ico</value>
            </setting>
            <setting name="CONSTRUCTION_HISTORY_VIEW_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>construction.ico</value>
            </setting>
            <setting name="SECTION_VIEW_IMAGE_KEY" serializeAs="String">
                <value>orange.ico</value>
            </setting>
            <setting name="SECTION_VIEW_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>orange.ico</value>
            </setting>
            <setting name="ASSET_VIEW_IMAGE_KEY" serializeAs="String">
                <value>blue.ico</value>
            </setting>
            <setting name="ASSET_VIEW_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>blue.ico</value>
            </setting>
            <setting name="GIS_VIEW_IMAGE_KEY" serializeAs="String">
                <value>map.ico</value>
            </setting>
            <setting name="GIS_VIEW_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>map.ico</value>
            </setting>
            <setting name="SIMULATION_IMAGE_KEY" serializeAs="String">
                <value>pink.ico</value>
            </setting>
            <setting name="SIMULATION_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>pink.ico</value>
            </setting>
            <setting name="ATTRIBUTE_VIEW_IMAGE_KEY" serializeAs="String">
                <value>class.ico</value>
            </setting>
            <setting name="ATTRIBUTE_VIEW_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>class.ico</value>
            </setting>
            <setting name="ATTRIBUTE_VIEW_SPECIFIC_YEAR_IMAGE_KEY" serializeAs="String">
                <value>orange.ico</value>
            </setting>
            <setting name="ATTRIBUTE_VIEW_SPECIFIC_YEAR_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>orange.ico</value>
            </setting>
            <setting name="SIMULATION_ATTRIBUTE_YEAR_IMAGE_KEY" serializeAs="String">
                <value>orange.ico</value>
            </setting>
            <setting name="SIMULATION_ATTRIBUTE_YEAR_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>orange.ico</value>
            </setting>
            <setting name="LINEAR_NETWORK_DEFINITION_IMAGE_KEY" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="LINEAR_NETWORK_DEFINITION_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="SECTION_NETWORK_DEFINITION_IMAGE_KEY" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="SECTION_NETWORK_DEFINITION_IMAGE_KEY_SELECTED" serializeAs="String">
                <value>roadnetwork.ico</value>
            </setting>
            <setting name="ROADCARE_FILE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="DBDATABASE" serializeAs="String">
                <value />
            </setting>
            <setting name="DBSERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPORT" serializeAs="String">
                <value />
            </setting>
            <setting name="DBSID" serializeAs="String">
                <value />
            </setting>
            <setting name="DBNETWORKALIAS" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultTab" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_DB_TYPE" serializeAs="String">
                <value>MSSQL</value>
            </setting>
            <setting name="LAST_DB_SERVER" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_DB" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_GROUP" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_ONE" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_TWO" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_THREE" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_FOUR" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_FIVE" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_DEFAULT" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_FORMAT" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_MINIMUM" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_MAXIMUM" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_LOGIN" serializeAs="String">
                <value />
            </setting>
            <setting name="USE_INTEGRATED_SECURITY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CONNECTION_TYPE" serializeAs="String">
                <value />
            </setting>
            <setting name="ORACLE_USE_SID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ORACLE_DB_USERNAME" serializeAs="String">
                <value />
            </setting>
            <setting name="ORACLE_DB_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="NETWORK_DEFINITION_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="NNDServer" serializeAs="String">
                <value />
            </setting>
            <setting name="NNDDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="NNDUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="NNDPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="NNDPort" serializeAs="String">
                <value />
            </setting>
            <setting name="NNDSID" serializeAs="String">
                <value />
            </setting>
            <setting name="NNDNetworkAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="NNDIntegratedSec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NNDLastQuery" serializeAs="String">
                <value />
            </setting>
            <setting name="TablePrefix" serializeAs="String">
                <value />
            </setting>
        </RoadCare3.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Reporting" publicKeyToken="a9d7983dfcc261be" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.12.215" newVersion="6.0.12.215" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpCompress" publicKeyToken="afb0a02973931d96" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.24.0.0" newVersion="0.24.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
