<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DBSpy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBSpy.Properties.Settings>
            <setting name="ConnString" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="CurrentDataModel" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="CurrentDatabaseType" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ProviderString" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>temp</value>
            </setting>
            <setting name="NetworkAlias" serializeAs="String">
                <value />
            </setting>
            <setting name="SID" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="IntegratedSecurity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AttributeName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProviderText" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectionName" serializeAs="String">
                <value />
            </setting>
        </DBSpy.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
