.theme--dark.v-table thead th {
    background-color: #424242;
}

.theme--light.v-table thead th {
    background-color: #fff;
}

.fixed-header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fixed-header table {
    table-layout: fixed;
}

.fixed-header th {
    position: sticky;
    top: 0;
    z-index: 5;
}

.fixed-header th:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fixed-header tr.v-datatable__progress th {
    height: 1px;
}

.fixed-header .v-table__overflow {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.fixed-header .v-datatable.v-table {
    flex-grow: 0;
    flex-shrink: 1;
}

.fixed-header .v-datatable.v-table .v-datatable__actions {
    flex-wrap: nowrap;
}

.fixed-header .v-datatable.v-table .v-datatable__actions .v-datatable__actions__pagination {
    white-space: nowrap;
}

.paper-white-bg {
    background-color: #FFFFFF !important;
}

.ara-blue-pantone-281-bg {
    background-color: #002E6C !important;
}

.ara-blue-pantone-289-bg {
    background-color: #00204B !important;
}

.ara-blue-bg {
    background-color: #008FCA !important;
}

.ara-orange-bg {
    background-color: #F05632 !important;
}

.ara-light-gray-bg {
    background-color: #B0BFC8 !important;
}

.ara-blue {
    color: #008FCA !important;
}

.ara-orange {
    color: #F05632 !important;
}

.ara-yellow {
    color: #D1DD30 !important;
}

.ara-dark-gray {
    color: #798899 !important;
}

.ara-blue-pantone-281 {
    color: #002E6C !important;
}

.ara-black {
    color: #000000 !important;
}

.edit-icon {
    color: forestgreen !important;
}