<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RoadCareSecurityOperations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <RoadCareSecurityOperations.Properties.Settings>
      <setting name="appId" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="RoadCareSecurityOperations_AuthenticateCS_AuthenticateCS" serializeAs="String">
        <value>http://170.93.50.24/sms/AuthenticateCS.asmx</value>
      </setting>
    </RoadCareSecurityOperations.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
